ENDPOINT = https://push.example.com
APN_P8 = # very long at p8
APN_ISS = # 10 letters
APN_KID = # 10 letters
APN_EXPERIENCE_ID = # slug of Expo app, e.g. "@cutls/TootDesk"
APN_TOPIC = # bundle identifier of iOS app, e.g. "top.thedesk.toot"
FIREBASE_PROJECT_ID = # get from Firebase console(all data in <proj>-firebase-adminsdk-<random>.json)
FIREBASE_CLIENT_EMAIL =  # get from Firebase console(all data in <proj>-firebase-adminsdk-<random>.json)
FIREBASE_PRIVATE_KEY = # get from Firebase console(all data in <proj>-firebase-adminsdk-<random>.json)
